.navbar-default {
    background-color: orange;
}
.btn-success {
    background-color: red;
}
.jumbotron {
    background-color:pink;
}
.lastword {
    color:yellow;
}
body {
font-family: 'Dancing Script', cursive;
} 
